*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    
}


/*     esta classe abaixo serve para fazer o label ser lido sem aparecer na tela*/
.sr-only{

    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip:rect(0,0,0,0);
    white-space: nowrap;
    border-width: 0;
}

.primary{

    background: #6246EA;

    border-radius: 0.5rem;
    border: 0.1rem;

    display: flex;
    justify-content: center;
    align-items: center;

    color: rgb(254, 253, 255);
    

    font-family: 'roboto';
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: solid;
    cursor: pointer;
    transition: background 200ms;

}

.primary:hover{
    background-color:#553cd3 ;
    color: rgb(254, 253, 255);
}

.secundary{

    color: #6246EA;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 0.5rem;
    border: 0.1rem;

    font-family: 'roboto';
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: solid;

    cursor: pointer;
    transition: background 200ms;

}

:root{

    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

body{
 
    font-size: 1.6rem;
    background-color: #faf7ec;
}

input, select, button{

    font-family: 'roboto';
    all:unset;
}

header{

    min-height: 53.2rem;
    background-color: #f8f8ff;
    text-align: center;
    align-items: center;
    position: relative;
    overflow: hidden;/* faz com que oque transbordarr dessa div nao apareça*/
    display: grid;
    gap: 4rem; 
    
    border-bottom: #6246EA  1.5px dashed;
  /*  place-content: center;   serve para alinhar o conteudo no centro para display grid */
}

header::before{

       content:"";
       
       background-image: url(./assets/folhas.png);
       width: 40.7rem;
       height: 34.5rem;
       position: absolute;
       z-index: 0;
       top: -2.3rem;
       left: -2.7rem;
}

header .content{

    margin: auto;
    flex-direction: column;
    align-items: center;
    gap: 4rem;

    width: fit-content;
    
    position: relative;
    z-index: 1;
}

header .top{

    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    gap: 1.8rem;

    width: 64.7rem;
    height: 16.4rem;
}

header p{
    font-family: 'roboto';
    font-weight: 500;
    text-transform: uppercase;
    color: rgb(233, 56, 130);
}

header h1{
    font-family: 'roboto';
    font-weight: 700;
    max-width: 64.7rem;
    color: rgb(52, 3, 85);
}

header h1 span{
    font-family: 'roboto';
    font-weight: 700;
    color: rgb(121, 13, 223);
}

header::after{
    content:"";
    
    background-image: url(./assets/mulher.png);
    width: 41.4rem;
    height: 33rem;

    position: absolute;
    z-index: 0;
    bottom: -1.2rem;
    right: 0;

}


header .busca{
    
    box-sizing: border-box;
    background: rgb(254, 253, 255);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 4rem;
    gap: 2.4rem;

    border-radius: 1rem;
    border: 0.1rem solid #EAEAEA;
}

ion-icon {
    color: rgb(231, 24, 24);
  }

ion-icon {
    font-size: 24px;
  }

.campo-de-busca.input{

    display: flex;
    border-radius: 0.5rem;
    background: #F4F4FF;
    align-items: center;
    text-align: left;
    gap: 1.2rem;

    padding: 1.2rem 0.8rem 1.2rem 1.4rem;    
    
    font-weight: 400;
    border: 0.1rem;
    margin: auto;

}

/*select{

    border-radius: 0.5rem;
    background: #F4F4FF;
    background-repeat: no-repeat;
    padding: 1.2rem 0.8rem 1.2rem 1.4rem;
    gap: 1.2rem;
    font-weight: 400;
    border: 0.1rem;

    width: 34.8rem;
    height: 4.8rem;

}*/

header button{  
   
    padding: 1.2rem 3.2rem;

    color: rgb(254, 253, 255);
   
    width: 16.9rem;
    height: 4.8rem;    
}



.campo-de-busca.select{

    display: flex;
    
    align-items: center;
    margin: auto;


    border-radius: 0.5rem;
    background: #F4F4FF;
    
    padding: 1.2rem 0.8rem 1.2rem 1.4rem;
    gap: 1.2rem;
    font-weight: 400;
    border: 0.1rem;
    
}

main > .corpo {
  
    max-width: 121.6rem;
    margin: 10rem auto;
}

section.top .view{

    padding: 0.8rem;

    display: flex;
    gap: 0.3rem;

    width: 20.5rem;
    height: 4.8rem;

    border: 0.1rem dashed #b6ad96;
    border-radius: 0.6rem;
}
.view button{

    padding: 0.4rem 2.4rem;    

}

section.top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

section.top h2{

    font-family: 'roboto';
    font-weight: 700;
    color: rgb(122, 70, 6);
}


section.cards{

    box-sizing: border-box;
    margin-top: 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
    align-items: flex-end;
    padding: 0;
    gap: 3.2rem; 
   
    height: 103.3rem;
}

.card{    
    
    align-items: flex-start;  
       
    max-width: 38.4rem;
    height: 32.3rem;
   
    border: 1px dashed #EAEAEA;

    background-color:#f3f0e21f ;

    border-radius: 1rem;

    overflow: hidden;

}

.card .content-card {

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 1.65rem;   
    gap: 1.6rem;
  
}

.content-card .loc {

    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.6rem;
    color: #580a05;
}
